
@{
    ViewBag.Title = "User";
}
<div class="layui-row">
    <div class="layui-col-md6" style="padding:10px">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title" style="background:#3598DC;color:white">查詢</h2>
                <div class="layui-colla-content layui-show">
                    <form class="layui-form" action="" id="search_form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用戶名</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" class="layui-input">
                            </div>
                        </div>                                              
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="searchUser" id="searchUser">查詢</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
        <div class="layui-card" style="margin-top:20px;">
            <div class="layui-card-header" style="background:#3598DC;color:white">用戶列表</div>
            <div class="layui-card-body" style="border-left:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;border-right:1px solid #E6E6E6;padding:0px;">
                <table class="layui-table" id="tb_user" lay-skin="nob" style="margin:0px;">
                    <thead>
                        <tr>
                            <th>用戶名</th>
                            <th>姓名</th>
                            <th>創建日期</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layui-col-md6" style="padding:10px">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">編輯</li>
                <li>權限</li>
                <li>角色</li>
                <li>群組</li>
            </ul>
            <div class="layui-tab-content" style="border-left:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;border-right:1px solid #E6E6E6;">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="" lay-filter="formUser" id="formUser">
                        <div class="layui-form-item">
                            <label class="layui-form-label">ID</label>
                            <div class="layui-input-block">
                                <input type="text" name="id" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用戶名</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="saveUser">保存</button>
                                <button class="layui-btn" lay-submit="" lay-filter="deleteUser">删除</button>
                                <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="" lay-filter="example">
                        <div id="gw-tree"></div>
                        <div class="layui-form-item" style="margin-top:10px;">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="savePremToUser">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="" lay-filter="example">
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">角色</label>
                            <div class="layui-input-block" id="cb_roles"></div>
                        </div>
                        <div class="layui-form-item" style="margin-top:10px;">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="saveRoleToUser">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="" lay-filter="example">
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">群组</label>
                            <div class="layui-input-block" id="cb_groups"></div>
                        </div>
                        <div class="layui-form-item" style="margin-top:10px;">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="saveGroupToUser">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Res/Js/System/User.js?t=20181008ABCD"></script>
